.bug-parent{
    height: 100vh;
    width: 100%;
    display: flex;
    /* background-color: rgb(70, 70, 70); */
    justify-content: center;
    align-items: center;
}
.bug-major{
    height: 80vh;
    width: 80%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 2vh;
    display: flex;
    background-color: white;
    flex-direction: row;
}
.bug-major .img{
    width: 50%;
    height: inherit;
    background-color: rgb(210, 232, 255);
    background-image: url("/src/assets/img/bugs.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: inherit;
}
.bug-major .container{
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(180, 115, 115); */
    overflow-y: scroll;
    border-radius: inherit;
}
.bug-major .container .logo{
    width: 100%;
    height: 40%;
    /* padding: 10%; */
    /* background-color: aquamarine; */
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    background-image: url("/src/assets/img/logo.png");
}
.bug-major .container .credentials{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5vh;
    width: 100%;
    flex-direction: column;
    height: 60%;
    padding: 10%;
    /* background-color: rgb(9, 9, 255); */
}
.bug-major .container .credentials textarea{
    width: 60%;
    padding: 3%;
    border: 3px solid ;
    text-align: center;
    border-radius: 5px;
}
.bug-major .container p{
    width: 60%;
    padding: 0;
    margin: 0;
}
.bug-major .container .credentials .btns{
    width: 100%;
    display: flex;
    height: 20%;
    flex-direction: row;
    /* background-color: aqua; */
    justify-content: center;
}
.bug-major .container .credentials .btns button{
    /* width: 20%; */
    height: 100%;
}